USE [master]
GO
/****** Object:  Database [UsersDB]    Script Date: 9/3/2025 11:13:06 AM ******/
CREATE DATABASE [UsersDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UsersDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UsersDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UsersDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UsersDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UsersDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UsersDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/3/2025 11:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[assignements]    Script Date: 9/3/2025 11:13:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assignements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActionItems] [nvarchar](max) NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[MomId] [int] NOT NULL,
	[AssignedTo] [int] NOT NULL,
 CONSTRAINT [PK_assignements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[attendees]    Script Date: 9/3/2025 11:13:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attendees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MeetingId] [int] NOT NULL,
	[IsPresent] [bit] NOT NULL,
	[Email] [varchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_attendees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meetings]    Script Date: 9/3/2025 11:13:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meetings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Agenda] [nvarchar](max) NULL,
	[RoomId] [int] NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_meetings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[minutes]    Script Date: 9/3/2025 11:13:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[minutes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MeetingId] [int] NOT NULL,
	[PointOfDisc] [nvarchar](max) NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[Summary] [nvarchar](max) NULL,
 CONSTRAINT [PK_minutes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 9/3/2025 11:13:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[USERROLE] [nvarchar](max) NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roomFeatures]    Script Date: 9/3/2025 11:13:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roomFeatures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Projector] [bit] NOT NULL,
	[VideoConference] [bit] NOT NULL,
	[WhiteBoard] [bit] NOT NULL,
 CONSTRAINT [PK_roomFeatures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 9/3/2025 11:13:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Location] [int] NOT NULL,
	[FeatureId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[RoomStatus] [varchar](max) NULL,
	[Name] [varchar](max) NULL,
 CONSTRAINT [PK_rooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 9/3/2025 11:13:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [nvarchar](max) NULL,
	[LASTNAME] [nvarchar](max) NULL,
	[EMAIL] [nvarchar](max) NULL,
	[PASSWORD] [nvarchar](max) NULL,
	[ROLEID] [int] NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250805185551_InitialCreat', N'9.0.7')
GO
SET IDENTITY_INSERT [dbo].[attendees] ON 

INSERT [dbo].[attendees] ([Id], [MeetingId], [IsPresent], [Email], [UserId]) VALUES (2, 10, 1, N'fatimahay27@gmail.com', 4)
SET IDENTITY_INSERT [dbo].[attendees] OFF
GO
SET IDENTITY_INSERT [dbo].[meetings] ON 

INSERT [dbo].[meetings] ([Id], [CreatedBy], [Title], [Agenda], [RoomId], [StartTime], [EndTime], [Status], [Date]) VALUES (6, 4, N'', NULL, 1, CAST(N'2025-08-11T12:00:00.0000000' AS DateTime2), CAST(N'2025-08-11T01:00:00.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[meetings] ([Id], [CreatedBy], [Title], [Agenda], [RoomId], [StartTime], [EndTime], [Status], [Date]) VALUES (8, 4, N'Team Meeting', N'Review Project Proccess', 1, CAST(N'2025-09-14T09:59:17.9120000' AS DateTime2), CAST(N'2025-09-14T10:59:17.9120000' AS DateTime2), NULL, CAST(N'2025-09-14T00:00:00.000' AS DateTime))
INSERT [dbo].[meetings] ([Id], [CreatedBy], [Title], [Agenda], [RoomId], [StartTime], [EndTime], [Status], [Date]) VALUES (9, 4, N'Intership-Meeting', N'Discussing Project Topic', 2, CAST(N'2025-10-19T11:35:58.3760000' AS DateTime2), CAST(N'2025-10-19T11:35:58.3760000' AS DateTime2), NULL, CAST(N'2025-10-19T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[meetings] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([Id], [USERROLE]) VALUES (1, N'Admin')
INSERT [dbo].[roles] ([Id], [USERROLE]) VALUES (2, N'Employee')
INSERT [dbo].[roles] ([Id], [USERROLE]) VALUES (3, N'Guest')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[roomFeatures] ON 

INSERT [dbo].[roomFeatures] ([Id], [Projector], [VideoConference], [WhiteBoard]) VALUES (1, 1, 0, 1)
INSERT [dbo].[roomFeatures] ([Id], [Projector], [VideoConference], [WhiteBoard]) VALUES (2, 1, 1, 1)
INSERT [dbo].[roomFeatures] ([Id], [Projector], [VideoConference], [WhiteBoard]) VALUES (3, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[roomFeatures] OFF
GO
SET IDENTITY_INSERT [dbo].[rooms] ON 

INSERT [dbo].[rooms] ([Id], [Capacity], [Location], [FeatureId], [CreatedBy], [RoomStatus], [Name]) VALUES (1, 8, 1, 1, 4, N'Booked', N'room A')
INSERT [dbo].[rooms] ([Id], [Capacity], [Location], [FeatureId], [CreatedBy], [RoomStatus], [Name]) VALUES (2, 20, 2, 1, 4, N'Booked', N'room B')
INSERT [dbo].[rooms] ([Id], [Capacity], [Location], [FeatureId], [CreatedBy], [RoomStatus], [Name]) VALUES (3, 35, 2, 1, 4, N'Available', N'room C')
SET IDENTITY_INSERT [dbo].[rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([ID], [FIRSTNAME], [LASTNAME], [EMAIL], [PASSWORD], [ROLEID]) VALUES (4, N'Fatima', N'haydar', N'fatimahay27@gmail.com', N'cb0c22cf0dbd7a73ed7c56d6b8f6f4b4738497a9', 1)
INSERT [dbo].[user] ([ID], [FIRSTNAME], [LASTNAME], [EMAIL], [PASSWORD], [ROLEID]) VALUES (5, N'Tina', N'Yaaqoub', N'TinaY27@gmail.com', N'2b22741e1d733648f7933f925b725dd7b935b84a', 2)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
/****** Object:  Index [IX_assignements_AssignedTo]    Script Date: 9/3/2025 11:13:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_assignements_AssignedTo] ON [dbo].[assignements]
(
	[AssignedTo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_assignements_MomId]    Script Date: 9/3/2025 11:13:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_assignements_MomId] ON [dbo].[assignements]
(
	[MomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_attendees_MeetingId]    Script Date: 9/3/2025 11:13:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_attendees_MeetingId] ON [dbo].[attendees]
(
	[MeetingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_meetings_CreatedBy]    Script Date: 9/3/2025 11:13:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_meetings_CreatedBy] ON [dbo].[meetings]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_meetings_RoomId]    Script Date: 9/3/2025 11:13:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_meetings_RoomId] ON [dbo].[meetings]
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_minutes_MeetingId]    Script Date: 9/3/2025 11:13:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_minutes_MeetingId] ON [dbo].[minutes]
(
	[MeetingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_rooms_CreatedBy]    Script Date: 9/3/2025 11:13:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_rooms_CreatedBy] ON [dbo].[rooms]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_rooms_FeatureId]    Script Date: 9/3/2025 11:13:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_rooms_FeatureId] ON [dbo].[rooms]
(
	[FeatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_user_ROLEID]    Script Date: 9/3/2025 11:13:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_user_ROLEID] ON [dbo].[user]
(
	[ROLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[assignements]  WITH CHECK ADD  CONSTRAINT [FK_assignements_attendees_AssignedTo] FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[attendees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[assignements] CHECK CONSTRAINT [FK_assignements_attendees_AssignedTo]
GO
ALTER TABLE [dbo].[assignements]  WITH CHECK ADD  CONSTRAINT [FK_assignements_minutes_MomId] FOREIGN KEY([MomId])
REFERENCES [dbo].[minutes] ([Id])
GO
ALTER TABLE [dbo].[assignements] CHECK CONSTRAINT [FK_assignements_minutes_MomId]
GO
ALTER TABLE [dbo].[attendees]  WITH CHECK ADD  CONSTRAINT [Fk_Attendee_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[user] ([ID])
GO
ALTER TABLE [dbo].[attendees] CHECK CONSTRAINT [Fk_Attendee_User]
GO
ALTER TABLE [dbo].[attendees]  WITH CHECK ADD  CONSTRAINT [FK_attendees_meetings_MeetingId] FOREIGN KEY([MeetingId])
REFERENCES [dbo].[meetings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[attendees] CHECK CONSTRAINT [FK_attendees_meetings_MeetingId]
GO
ALTER TABLE [dbo].[meetings]  WITH CHECK ADD  CONSTRAINT [FK_meetings_rooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [dbo].[rooms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[meetings] CHECK CONSTRAINT [FK_meetings_rooms_RoomId]
GO
ALTER TABLE [dbo].[meetings]  WITH CHECK ADD  CONSTRAINT [FK_meetings_user_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[user] ([ID])
GO
ALTER TABLE [dbo].[meetings] CHECK CONSTRAINT [FK_meetings_user_CreatedBy]
GO
ALTER TABLE [dbo].[minutes]  WITH CHECK ADD  CONSTRAINT [FK_minutes_meetings_MeetingId] FOREIGN KEY([MeetingId])
REFERENCES [dbo].[meetings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[minutes] CHECK CONSTRAINT [FK_minutes_meetings_MeetingId]
GO
ALTER TABLE [dbo].[rooms]  WITH CHECK ADD  CONSTRAINT [FK_rooms_roomFeatures_FeatureId] FOREIGN KEY([FeatureId])
REFERENCES [dbo].[roomFeatures] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rooms] CHECK CONSTRAINT [FK_rooms_roomFeatures_FeatureId]
GO
ALTER TABLE [dbo].[rooms]  WITH CHECK ADD  CONSTRAINT [FK_rooms_user_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[user] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rooms] CHECK CONSTRAINT [FK_rooms_user_CreatedBy]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_ROLEID] FOREIGN KEY([ROLEID])
REFERENCES [dbo].[roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_roles_ROLEID]
GO
USE [master]
GO
